layout {
    focus-ring {
        width 4
        // Cor principal do wallpaper com alpha (CC = ~80%)
        active-color "{{colors.primary.default.hex}}CC"
        // Cor de fundo/superfície com alpha (80 = ~50%)
        inactive-color "{{colors.surface.default.hex}}80"
    }
}