* {
    main-bg:            rgba(20, 19, 24, 0.9);
    main-fg:            #e6e1e9;
    main-br:            #cabeff;
    input-bg:           rgba(72, 63, 119, 0.2);
    select-bg:          rgba(202, 190, 255, 0.3);
    select-fg:          #cabeff;
}
