/* Importa as cores desacopladas */
@import "./.config/waybar/colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    font-weight: bold;
    border: none;
}

window#waybar {
    background-color: transparent;
}

/* Configuração de cada Ilha Separada */
#workspaces,
#window,
#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#battery,
#tray {
    background-color: @bg-island;
    border: 2px solid @border-island;
    border-radius: 15px;
    padding: 2px 12px;
    color: @text-main;
    margin: 5px 2px; /* Adicionado um pequeno respiro entre ilhas */
}

/* Destaque para o Workspace ativo */
#workspaces button.focused {
    background-color: @focused-bg;
    color: @focused-text;
    border-radius: 12px;
}

#workspaces button {
    color: @accent-blue;
}

/* Cores das Ilhas de Hardware */
#cpu { color: @accent-blue; }
#memory { color: @accent-purple; }

#clock {
    color: @clock-text;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
}